{% extends 'base.html' %}
{% block title %} About Us
{% endblock title %}

{% block aboutactive %}active
{% endblock aboutactive %}


{% block css %}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.about{
    background-color: black;
    color: white;
}

.cont{
    background-color: black;
    color: white;
}

.foot{
    background-color: black;
    color: white;
}

.contrib{
    background-color: black;
    color: white;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
{% endblock css %}


{% block body %}
<div class="about">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Pswrd Mngr</h1>
        <p class="lead mb-0">is a clean and minimal password manager webapp devloped with the help of django and Bootstrap.</p>
      </div>
    </div>
  </div>
</div>

<div class="cont py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-dark">Our team</h2>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-black rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gaurang Shukla</h5><span class="small text-uppercase text-muted">Co - Developer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/itzgaurang" class="social-link"><i class="fa fa-github-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gaurang-shukla-928426181" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-black rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Divyanshu Maurya</h5><span class="small text-uppercase text-muted">Co - Developer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/divyanshu-maurya-54a00b1a1" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>


<footer class="foot pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; 2020</p>
  </div>
</footer>
{% endblock body %}